$color-green-light: #898f4b;
$color-green-dark: #414929;
$color-purple: #64587a;
$color-orange: #927156;
$color-blue: #8791aa;
$color-button: rgba(202, 174, 122, 0.8);
$color-brown: #d2c295;
$color-black: #000;
$color-white: #fff;
$color-gray: #fcfcfc;
$item-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.12);
$font-family-knockout: "Knockout", sans-serif;
$font-size-md: 1.8rem;
$font-size-sm: 1.4rem;
$font-size-large: 4.2rem;
$font-size-item: 2.4rem;
$font-size-item2: 1.8rem;
$letter-spacing-md: 0.1rem;
$letter-spacing-sm: 0.05rem;
$border-radius: 12px;
